UID=1000
GID=1000
APP_USERNAME=admin
APP_PASSWORD=
APP_PASSWORD_HASH=
SESSION_SECRET=
APP_COOKIE_SECURE=false
BACKUP_RETENTION=50
TZ=Asia/Shanghai
NPM_REGISTRY=https://registry.npmmirror.com
PIP_INDEX_URL=https://mirrors.aliyun.com/pypi/simple/
CODEX_GATEWAY_HOST=0.0.0.0
CODEX_GATEWAY_PORT=18080
CODEX_GATEWAY_PUBLIC_HOST=127.0.0.1
GATEWAY_LOG_MAX_MB=50
